#{extends 'Secure/layout.html' /}

<div id="login">
	<h1>&{'secure.title'}</h1>
		#{if flash.error}
			<p class="error">
				<font color="red">用户名称或密码错误</font>
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
			</p>
		#{/if}
		#{form @authenticate()}
		<form action="@authenticate()" id="signin-form_id">
				<div class="signin-text">
					<span>登入您的账户</span>
				</div> <!-- / .signin-text -->

				<div class="form-group w-icon">
					<input type="text" name="username" id="username"  value="${flash.username}" class="form-control input-lg" placeholder="用户名" required>
					<span class="fa fa-user signin-form-icon"></span>
				</div> <!-- / Username -->

				<div class="form-group w-icon">
					<input type="password" name="password" id="password"  value="" class="form-control input-lg" placeholder="密码" required>
					<span class="fa fa-lock signin-form-icon"></span>
				</div> <!-- / Password -->
				
				<div class="form-group w-icon">
					<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
					<label for="remember">记录登录状态</label>
				</div>

				<div class="form-actions">
					<button type="submit" class="signin-btn bg-primary"><font size='3' style="font-weight:bold;">登  录</font></button>
				</div> <!-- / .form-actions -->
			</form>
	#{/form}
</div>