#{extends 'example.html' /} #{set title:'IStorm Patrol' /}

<div>
    <div id="crudListTable">
        #{crud.table fields:['T_NODE_NAME','T_NODE_IP','T_NODE_OS','T_NODE_DEVICETYPE','T_NODE_CONTACTS','T_NODE_VENDOR','T_NODE_MODEL','T_NODE_ROOM','T_NODE_LOGINTYPE','操作'],
        			sort:['T_NODE_NAME','T_NODE_IP','T_NODE_OS','T_NODE_DEVICETYPE','T_NODE_CONTACTS','T_NODE_VENDOR','T_NODE_MODEL','T_NODE_ROOM','T_NODE_LOGINTYPE'] }
        #{crud.custom '操作'}
        <input type="text" name="T_NODE_IDTest" value="${object.id}" hidden>
        <button id="${object.id}conTest" class="btn btn-primary" onclick="conTest(${object.id})">连接测试</button>
        #{/crud.custom}
        #{/crud.table}
    </div>
    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

</div>
<script>
	conTest=function(id){
		$("#"+id+"conTest").attr("disabled", true);
		console.log("niniiini"+id);
		var conTestUrl = "@{TNodes.conTest()}?tNodeIdTest="+id;
		$.post(conTestUrl, function(data) {
			if(data=='false'){
				$("#"+id+"conTest").html("测试失败");
   			}
			if(data=='true'){
				$("#"+id+"conTest").html("测试成功");
			}
		});
	}
  $(document).ready(
          function() {
              window.parent.licenseLimit();
              var url = "@{ScriptManage.getScriptGroup()}";
          });
</script>
