#{extends 'main.html' /}
<style>
    iframe {
        width: 100%;
        border: 20px;
        height: 320px;
    }
    .table-responsive {
        overflow-x: hidden
    }    
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 style="font-size: 20px;"></h2>
        <ol class="breadcrumb">
            <li><a href="@{Application.index()}">首页</a></li>
            <li><a>报告管理</a></li>
            <li class="active"><strong>报告生成</strong></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>报告导出</h5>
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i></a> <a class="collapse-link"> </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td width="9%" align="right"><span class="sel-tit">文件名称：</span></td>
                        <td width="40%">
                            <input type="text" name="xmlName" id="xmlName" class="form-control" maxlength="20">
                        </td>
                        <td>
                            <input type="button" name="name" value="查询" class="btn btn-primary" onclick="getReportList()">
                        </td>
                       
                            <form action="@{ReportEs.uploadFile()}" method="POST" enctype="multipart/form-data">
                                <td width="40%">
                                    <input type="file" style="float: left" id="file" name="file" class="form-control">
                                </td>
                                <td width="30%">
                                    <button class="btn btn-primary" type="submit" onclick="return judgeFileType()">上传自定义模板</button>
                               </td>
                            </form>
                       
                    </tr>
                    </tbody>
                </table>
                <div id="crudListTable">
                #{crud.tsmtable fields:['Xml文件','下载','图表类型','报告生成','删除'] }
			        #{/crud.tsmtable}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-sizes-1" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </button>
                <h4 class="modal-title">是否删除：</h4>
            </div>
            <div class="modal-body">请确认是否删除，删除后文件不能恢复！</div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="deleteFile()">确定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        getReportList();
    });
    //上传文件验证
    judgeFileType = function () {
        var filename = $("#file").val();
        if (filename == "") {
            toastr.error('未选择任何文件！');
            return false;
        }
        if (filename != "") {
            var fileNames = filename.split('.');
            if (fileNames.length <= 1) {
                toastr.error('所选文件没有后缀名！');
            } else {
                var er = fileNames[fileNames.length - 1];
                if (!(er == "xml")) {
                    toastr.error('文件类型不对,请上传.xml格式的文件！');
                    return false;
                }
            }
            return true;
        }
        return false;
    }
    //报告生成
    createReport = function(id)
    {
        var jpegType = document.getElementById(id+"rel").value;
        location.href="/ReportEs/createWord?id="+id+"&jpegType="+jpegType;
    }
    // 模态框删除提示
    var infoId = "";
    function deleteinfo(id)
    {
        infoId = id;
    }
    function deleteFile()
    {
        var url="/ReportEs/deleteFile?id="+infoId;
        $.post(url, function(data){
            if(data=='true')
            {
                $("#"+infoId+"del").html('已删除');
                $("#"+infoId+"del").attr("disabled","disabled");
            }
        });
        $("#modal-sizes-1").modal('hide');
    }
    //dataTable 显示列表
    var resultDataTable;
    function getReportList(){
        var xmlName =  document.getElementById("xmlName").value;
        var $searchResult = $('#crudListTable table');
        if (resultDataTable) {
            resultDataTable.fnClearTable(false);
            $searchResult.dataTable().fnDestroy();
        }  else {
            $searchResult.show();
        }
        resultDataTable = $('#crudListTable table').dataTable({
            "bProcessing": true,
            "bServerSide": false,
            "iDisplayLength": 20,
            "bLengthChange": false,
            "sPaginationType":"full_numbers",
            "oLanguage": {
                "sZeroRecords": "没有任何数据",
                "oPaginate": {
                    "sFirst":"首页",
                    "sPrevious":"上一页",
                    "sNext":"下一页",
                    "sLast":"最后一页"
                }
            },
            "sAjaxSource": '/ReportEs/getReportList?xmlName='+xmlName,
            "fnServerParams": function ( aoData ) {
                $(".dataTables_info").hide();
                $(".dataTables_filter").hide();
                aoData.push( { "name": "Fields", "value": "xmlName, downLoad,jpegType,createDoc,DELETE"} );
            }
        });
    }
</script>