#{extends 'example.html' /} #{set title:'IStorm Patrol' /}

<div>
    <div id="crudListTable">
        #{crud.table fields:['T_SCRIPT_GROUP_NAME','T_SCRIPT_GROUP_DESC'] }
         #{crud.custom 'T_SCRIPT_GROUP_DESC'}
                		${object.T_SCRIPT_GROUP_DESC.length()>140 ? object.T_SCRIPT_GROUP_DESC.substring(0,130)+"..." : object.T_SCRIPT_GROUP_DESC }
        #{/crud.custom}
        #{/crud.table}
    </div>
    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

</div>
